body {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  justify-content: center;
  align-items: center;
  text-align: center;
}

table {
  border-collapse: collapse;
  font-family: Tahoma, Geneva, sans-serif;
  border-radius: 0px 0px 10px 10px;
  overflow: hidden;
}
table td {
  padding: 15px;
  text-align: center;
  vertical-align: middle;
}
table thead tr th {
  color: #ffffff;
  font-weight: bold;
  font-size: 21px;
  font-size: 21px;
  margin: 3px 0px 3px 0px;
  padding: 13px;
  padding-right: 15px;
  border: 1px solid #a1c1ee;
}

table tbody td {
  color: #636363;
  border: 1px solid #c6dff8;
}
table tbody tr {
  background-color: #f9fafb;
}
/* table tbody tr:nth-child(odd) {
  background-color: #ffffff;
} */

table tbody footer td {
  color: #636363;
  border: 1px solid #dddfe1;
}

table tbody footer td {
  color: #3a3939;
  border: 1px solid #dddfe1;
}

/* tr:hover {
  background-color: #b6d0f1;
} */

textarea {
  flex-wrap: wrap;
  min-height: 150px;
  width: 585px;
}

@media (max-device-width: 600px) {
  .table {
    font-size: 2rem;
  }
  .td {
    padding: 20px;
  }
}
